@import './css-reset-jc.css';
@import url('https://fonts.cdnfonts.com/css/space-grotesk');

:root {
    font-family: 'Space Grotesk', sans-serif;
    --primary-color: #B9FF66;
    --secondary-color: #191A23;
    --accent-color: #F3F3F3;
    --white: #FFF;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 18px;
}